/cluster_services
/external_access

# marketdata-pg-blueprint ignores
/marketdata-pg-blueprint/inventory/group_vars/db/vault.yml
/marketdata-pg-blueprint/inventory/hosts.local.ini
/marketdata-pg-blueprint/vault_pass


