user www-data;
worker_processes auto;
pid /run/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 1024;
}

http {
    access_log off;
    error_log /var/log/nginx/error.log warn;
}

stream {
    include /etc/nginx/conf.d/*.stream;
}