---
- name: Install nginx and stream module
  ansible.builtin.apt:
    name:
      - nginx
      - libnginx-mod-stream
    state: present
    update_cache: yes

- name: Deploy nginx.conf (stream-only)
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'

- name: Remove default site
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Deploy kube-apiserver stream config
  ansible.builtin.template:
    src: kubeapi.stream.j2
    dest: /etc/nginx/conf.d/kubeapi.stream
    owner: root
    group: root
    mode: '0644'

- name: Restart nginx
  ansible.builtin.systemd:
    name: nginx
    state: restarted
    enabled: true
