apiVersion: v1
kind: Secret
metadata:
  name: secret-marketdata-db
  namespace: marketdata
type: Opaque
stringData:
  POSTGRES_USER: "{{ vault_marketdata_db.postgres_user }}"
  POSTGRES_PASSWORD: "{{ vault_marketdata_db.postgres_password }}"
  COLLECTOR_USER: "{{ vault_marketdata_db.collector_user }}"
  COLLECTOR_PASSWORD: "{{ vault_marketdata_db.collector_password }}"
  ANALYST_USER: "{{ vault_marketdata_db.analyst_user }}"
  ANALYST_PASSWORD: "{{ vault_marketdata_db.analyst_password }}"
  PARTITION_MANAGER_USER: "{{ vault_marketdata_db.partition_manager_user }}"
  PARTITION_MANAGER_PASSWORD: "{{ vault_marketdata_db.partition_manager_password }}"
  READER_USER: "{{ vault_marketdata_db.reader_user }}"
  READER_PASSWORD: "{{ vault_marketdata_db.reader_password }}"
