# ---------------- Memory ----------------
shared_buffers = {{ pg_shared_buffers }}
effective_cache_size = {{ pg_effective_cache_size }}
work_mem = {{ pg_work_mem }}
maintenance_work_mem = {{ pg_maintenance_work_mem }}
temp_buffers = {{ pg_temp_buffers }}

# ---------------- Connections ----------------
max_connections = {{ pg_max_connections }}
listen_addresses = '{{ pg_listen_addresses }}'
port = {{ pg_port }}

# ---------------- WAL / Checkpoints ----------------
wal_level = {{ pg_wal_level }}
wal_compression = {{ pg_wal_compression }}
max_wal_senders = {{ pg_max_wal_senders }}
checkpoint_timeout = {{ pg_checkpoint_timeout }}
max_wal_size = {{ pg_max_wal_size }}
min_wal_size = {{ pg_min_wal_size }}

# ---------------- Autovacuum ----------------
autovacuum = {{ pg_autovacuum }}
autovacuum_vacuum_scale_factor = {{ pg_autovacuum_vacuum_scale_factor }}
autovacuum_analyze_scale_factor = {{ pg_autovacuum_analyze_scale_factor }}
autovacuum_vacuum_cost_limit = {{ pg_autovacuum_vacuum_cost_limit }}
autovacuum_vacuum_cost_delay = {{ pg_autovacuum_vacuum_cost_delay }}

# ---------------- Timeouts / Safety ----------------
statement_timeout = {{ pg_statement_timeout }}
idle_in_transaction_session_timeout = {{ pg_idle_in_transaction_session_timeout }}

# ---------------- Planner / IO ----------------
random_page_cost = {{ pg_random_page_cost }}
effective_io_concurrency = {{ pg_effective_io_concurrency }}

# ---------------- Parallelism ----------------
max_worker_processes = {{ pg_max_worker_processes }}
max_parallel_workers = {{ pg_max_parallel_workers }}
max_parallel_workers_per_gather = {{ pg_max_parallel_workers_per_gather }}

# ---------------- Logging ----------------
logging_collector = {{ pg_logging_collector }}
log_directory = '{{ pg_log_directory }}'
log_filename = '{{ pg_log_filename }}'
log_line_prefix = '{{ pg_log_line_prefix }}'
log_statement = '{{ pg_log_statement }}'
log_min_duration_statement = {{ pg_log_min_duration_statement }}

log_checkpoints = {{ pg_log_checkpoints }}
log_lock_waits = {{ pg_log_lock_waits }}
deadlock_timeout = {{ pg_deadlock_timeout }}

# ---------------- Locale ----------------
lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'

